<a href="https://colab.research.google.com/github/vishwaraj14/Pyhton/blob/main/airlinesdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql.types import StructType, StringType, IntegerType, DoubleType, LongType

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('airlines data').getOrCreate()

best pratice header true - inferschema true  but if you want customization define your column

In [7]:
airlines_DF = spark.read.format("csv").option("header", "True").option("inferSchema", "True").load("/content/airlines.csv")

In [8]:
airlines_DF.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Quarter: integer (nullable = true)
 |-- Avg_rev_per_seat: double (nullable = true)
 |-- booked_seats: integer (nullable = true)

In [9]:
airlines_DF.show()

+----+-------+----------------+------------+
|Year|Quarter|Avg_rev_per_seat|booked_seats|
+----+-------+----------------+------------+
|1995|      1|           296.9|       46561|
|1995|      2|           296.8|       37443|
|1995|      3|          287.51|       34128|
|1995|      4|          287.78|       30388|
|1996|      1|          283.97|       47808|
|1996|      2|          275.78|       43020|
|1996|      3|          269.49|       38952|
|1996|      4|          278.33|       37443|
|1997|      1|           283.4|       35067|
|1997|      2|          289.44|       46565|
|1997|      3|          282.27|       38886|
|1997|      4|          293.51|       37454|
|1998|      1|          304.74|       31315|
|1998|      2|          300.97|       30852|
|1998|      3|          315.25|       38118|
|1998|      4|          316.18|       35393|
|1999|      1|          331.74|       47453|
|1999|      2|          329.34|       38243|
|1999|      3|          317.22|       33048|
|1999|      4|          317.93|       31256|
+----+-------+----------------+------------+
only showing top 20 rows

In [10]:
airlines_DF.registerTempTable("airlines")

/usr/local/lib/python3.10/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [27]:
# YrWiseRev =spark.sql("select year ,sum(Avg_rev_per_seat*booked_seats) as total from airlines group by year order by total")

In [ ]:
YrWiseRev =spark.sql("select year ,round(sum(Avg_rev_per_seat*booked_seats)/1000000,2) as total_amt_in_millions from airlines group by year order by total_amt_in_millions desc")

In [28]:
YrWiseRev.show()

+----+---------------------+
|year|total_amt_in_millions|
+----+---------------------+
|2013|                66.36|
|2014|                62.62|
|2015|                62.38|
|2012|                 62.2|
|2008|                57.65|
|2007|                57.31|
|2001|                55.53|
|2010|                54.86|
|2000|                52.34|
|2011|                51.89|
|2004|                50.63|
|2006|                50.44|
|2003|                49.27|
|1999|                48.76|
|2002|                 47.5|
|2009|                46.75|
|2005|                46.38|
|1996|                46.36|
|1997|                45.39|
|1995|                43.49|
+----+---------------------+
only showing top 20 rows

In [30]:
YrWisepasenger =spark.sql("select year ,sum(booked_seats) as total from airlines group by year order by total desc")

In [31]:
YrWisepasenger.show(5)

+----+------+
|year| total|
+----+------+
|2007|176299|
|2013|173676|
|2001|173598|
|1996|167223|
|2008|166897|
+----+------+
only showing top 5 rows