<a href="https://colab.research.google.com/github/vishwaraj14/Pyhton/blob/main/productcat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from pyspark.sql.types import StructType, StringType, IntegerType, DoubleType, LongType

In [8]:
from pyspark.sql import SparkSession  # for loading data schema

In [9]:
spark = SparkSession.builder.appName('myAppName').getOrCreate()

In [10]:
schematxn = StructType().add("txnid",StringType(),True).add("txndate",StringType(),True).add("custno",IntegerType(),True).add("amt",DoubleType(),True).add("category",StringType(),True).add("product",StringType(),True).add("city",StringType(),True).add("state",StringType(),True).add("spendby",StringType(),True)

In [12]:
df_with_schema = spark.read.format("csv").option("header","False").schema(schematxn).load("/content/txns1.csv.txt")

In [13]:
df_with_schema.printSchema()

root
 |-- txnid: string (nullable = true)
 |-- txndate: string (nullable = true)
 |-- custno: integer (nullable = true)
 |-- amt: double (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- spendby: string (nullable = true)

In [15]:
df_with_schema.show(5)

+--------+----------+-------+------+------------------+--------------------+-----------+----------+-------+
|   txnid|   txndate| custno|   amt|          category|             product|       city|     state|spendby|
+--------+----------+-------+------+------------------+--------------------+-----------+----------+-------+
|00000000|06-26-2011|4007024| 40.33|Exercise & Fitness|Cardio Machine Ac...|Clarksville| Tennessee| credit|
|00000001|05-26-2011|4006742|198.44|Exercise & Fitness|Weightlifting Gloves| Long Beach|California| credit|
|00000002|06-01-2011|4009775|  5.58|Exercise & Fitness|Weightlifting Mac...|    Anaheim|California| credit|
|00000003|06-05-2011|4002199|198.19|        Gymnastics|    Gymnastics Rings|  Milwaukee| Wisconsin| credit|
|00000004|12-17-2011|4002613| 98.81|       Team Sports|        Field Hockey|Nashville  | Tennessee| credit|
+--------+----------+-------+------+------------------+--------------------+-----------+----------+-------+
only showing top 5 rows

In [16]:
df_with_schema.registerTempTable("txb")

/usr/local/lib/python3.10/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [26]:
df_StockVol = spark.sql("select custno ,round(sum(amt),2) as total_amt,dense_rank() over(  order by sum(amt) desc) as rank from txb group by custno order by rank limit 5")

In [27]:
df_StockVol.show()

+-------+---------+----+
| custno|total_amt|rank|
+-------+---------+----+
|4009485|   1973.3|   1|
|4006425|  1732.09|   2|
|4000221|  1671.47|   3|
|4003228|  1640.63|   4|
|4006606|  1628.94|   5|
+-------+---------+----+