<a href="https://colab.research.google.com/github/vishwaraj14/Pyhton/blob/main/PYSPARKJSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('restaurant use case').getOrCreate()

In [5]:
restaurants = spark.read.json("/content/sample_data/restaurants.json")

In [37]:
restaurants.printSchema()

root
 |-- address: struct (nullable = true)
 |    |-- building: string (nullable = true)
 |    |-- coord: array (nullable = true)
 |    |    |-- element: double (containsNull = true)
 |    |-- street: string (nullable = true)
 |    |-- zipcode: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- cuisine: string (nullable = true)
 |-- grades: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- date: struct (nullable = true)
 |    |    |    |-- $date: long (nullable = true)
 |    |    |-- grade: string (nullable = true)
 |    |    |-- score: long (nullable = true)
 |-- name: string (nullable = true)
 |-- restaurant_id: string (nullable = true)

In [6]:
restaurants.show()

+--------------------+-------------+--------------------+--------------------+--------------------+-------------+
|             address|      borough|             cuisine|              grades|                name|restaurant_id|
+--------------------+-------------+--------------------+--------------------+--------------------+-------------+
|{1007, [-73.85607...|        Bronx|              Bakery|[{{1393804800000}...|Morris Park Bake ...|     30075445|
|{469, [-73.961704...|     Brooklyn|          Hamburgers|[{{1419897600000}...|             Wendy'S|     30112340|
|{351, [-73.985135...|    Manhattan|               Irish|[{{1409961600000}...|Dj Reynolds Pub A...|     30191841|
|{2780, [-73.98241...|     Brooklyn|           American |[{{1402358400000}...|     Riviera Caterer|     40356018|
|{97-22, [-73.8601...|       Queens|       Jewish/Kosher|[{{1416787200000}...|  Tov Kosher Kitchen|     40356068|
|{8825, [-73.88038...|       Queens|           American |[{{1416009600000}...|Brunos On The Bou...|     40356151|
|{2206, [-74.13772...|Staten Island|       Jewish/Kosher|[{{1412553600000}...|       Kosher Island|     40356442|
|{7114, [-73.90685...|     Brooklyn|        Delicatessen|[{{1401321600000}...|  Wilken'S Fine Food|     40356483|
|{6409, [-74.00528...|     Brooklyn|           American |[{{1405641600000}...|     Regina Caterers|     40356649|
|{1839, [-73.94826...|     Brooklyn|Ice Cream, Gelato...|[{{1405296000000}...|Taste The Tropics...|     40356731|
|{2300, [-73.87861...|        Bronx|           American |[{{1401235200000}...|           Wild Asia|     40357217|
|{7715, [-73.99733...|     Brooklyn|           American |[{{1397606400000}...|C & C Catering Se...|     40357437|
|{1269, [-73.87119...|     Brooklyn|             Chinese|[{{1410825600000}...|     May May Kitchen|     40358429|
|{1, [-73.96926909...|    Manhattan|           American |[{{1399420800000}...|1 East 66Th Stree...|     40359480|
|{705, [-73.965396...|     Brooklyn|       Jewish/Kosher|[{{1415577600000}...|         Seuda Foods|     40360045|
|{203, [-73.978220...|     Brooklyn|Ice Cream, Gelato...|[{{1391990400000}...|    Carvel Ice Cream|     40360076|
|{265-15, [-73.703...|       Queens|Ice Cream, Gelato...|[{{1414454400000}...|    Carvel Ice Cream|     40361322|
|{6909, [-74.02595...|     Brooklyn|        Delicatessen|[{{1408579200000}...|   Nordic Delicacies|     40361390|
|{522, [-73.95171,...|    Manhattan|           American |[{{1409616000000}...|       Glorious Food|     40361521|
|{284, [-73.982923...|     Brooklyn|           American |[{{1416355200000}...|   The Movable Feast|     40361606|
+--------------------+-------------+--------------------+--------------------+--------------------+-------------+
only showing top 20 rows

In [7]:
restaurants.registerTempTable("restaurants")

/usr/local/lib/python3.10/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [10]:
spark.sql("select cuisine ,count(restaurant_id) from restaurants group by cuisine").count()

70

In [12]:
spark.sql("select cuisine ,count(restaurant_id) from restaurants group by cuisine order by cuisine").show(70)

+--------------------+--------------------+
|             cuisine|count(restaurant_id)|
+--------------------+--------------------+
|              Afghan|                   4|
|             African|                   4|
|           American |                1255|
|            Armenian|                   1|
|               Asian|                  10|
|     Bagels/Pretzels|                  34|
|              Bakery|                 127|
|         Bangladeshi|                   1|
|            Barbecue|                   8|
|Bottled beverages...|                  10|
|           Brazilian|                   7|
|    CafÃ©/Coffee/Tea|                   1|
|     Café/Coffee/Tea|                 180|
|           Caribbean|                  75|
|             Chicken|                  32|
|             Chinese|                 115|
|       Chinese/Cuban|                   5|
|    Chinese/Japanese|                   1|
|         Continental|                   8|
|               Czech|                   1|
|        Delicatessen|                  78|
|              Donuts|                  43|
|    Eastern European|                   7|
|            Egyptian|                   2|
|             English|                   3|
|           Ethiopian|                   3|
|            Filipino|                   3|
|              French|                  72|
|              German|                   9|
|               Greek|                  25|
|          Hamburgers|                 159|
|             Hotdogs|                   4|
|Ice Cream, Gelato...|                  25|
|              Indian|                  43|
|          Indonesian|                   2|
|               Irish|                  79|
|             Italian|                 325|
|            Japanese|                  80|
|       Jewish/Kosher|                  60|
|Juice, Smoothies,...|                  11|
|              Korean|                  21|
|Latin (Cuban, Dom...|                 115|
|       Mediterranean|                  16|
|             Mexican|                  73|
|      Middle Eastern|                  11|
|            Moroccan|                   1|
|Not Listed/Not Ap...|                   1|
|               Other|                   4|
|           Pakistani|                   1|
|    Pancakes/Waffles|                   7|
|            Peruvian|                   2|
|               Pizza|                 270|
|       Pizza/Italian|                 106|
|              Polish|                  10|
|          Portuguese|                   2|
|             Russian|                  13|
|              Salads|                   1|
|          Sandwiches|                  19|
|Sandwiches/Salads...|                  19|
|             Seafood|                  35|
|           Soul Food|                   6|
|  Soups & Sandwiches|                   8|
|             Spanish|                  42|
|               Steak|                  21|
|               Tapas|                   4|
|             Tex-Mex|                  13|
|                Thai|                  14|
|             Turkish|                  11|
|          Vegetarian|                  10|
|Vietnamese/Cambod...|                   4|
+--------------------+--------------------+

In [13]:
spark.sql("select borough ,count(restaurant_id) from restaurants where cuisine = 'Indian' group by borough").show()

+-------------+--------------------+
|      borough|count(restaurant_id)|
+-------------+--------------------+
|       Queens|                  14|
|     Brooklyn|                   2|
|Staten Island|                   1|
|    Manhattan|                  26|
+-------------+--------------------+

In [14]:
spark.sql("select address.street ,count(restaurant_id) from restaurants where cuisine='Indian' group by address.street").show()

+--------------------+--------------------+
|              street|count(restaurant_id)|
+--------------------+--------------------+
|          Park Place|                   1|
| Woodhaven Boulevard|                   1|
|    Amsterdam Avenue|                   2|
|       Nassau Street|                   1|
|        Bowne Street|                   2|
|       Austin Street|                   1|
|           74 Street|                   2|
|           37 Avenue|                   1|
|    West   31 Street|                   1|
|       East 6 Street|                   1|
|Grand Central Ter...|                   1|
|      West 46 Street|                   1|
|   Parsons Boulevard|                   1|
|       Prince Street|                   1|
|      East 50 Street|                   1|
|       - Jfk Airport|                   1|
|    East    6 Street|                   2|
|  Avenue Of Americas|                   1|
|            Broadway|                   1|
|           30 Avenue|                   1|
+--------------------+--------------------+
only showing top 20 rows

In [15]:
spark.sql("select address.zipcode ,count(restaurant_id) from restaurants where cuisine='Indian' group by address.zipcode").count()

28

In [16]:
spark.sql("select address.zipcode ,count(restaurant_id) from restaurants where cuisine='Indian' group by address.zipcode").show(28)

+-------+--------------------+
|zipcode|count(restaurant_id)|
+-------+--------------------+
|  11106|                   1|
|  10012|                   1|
|  11367|                   1|
|  11355|                   2|
|  11004|                   1|
|  10014|                   1|
|  10001|                   1|
|  10003|                   4|
|  10023|                   2|
|  10040|                   1|
|  10022|                   2|
|  11209|                   2|
|  10065|                   1|
|  11372|                   3|
|  11430|                   1|
|  11415|                   1|
|  11432|                   2|
|  10027|                   1|
|  10036|                   2|
|  11374|                   1|
|  10025|                   1|
|  10007|                   1|
|  10019|                   1|
|  11103|                   1|
|  10005|                   2|
|  10017|                   1|
|  10306|                   1|
|  10016|                   4|
+-------+--------------------+

In [17]:
spark.sql("select address.zipcode ,count(restaurant_id) from restaurants where cuisine='Indian' group by address.zipcode").collect()

[Row(zipcode='11106', count(restaurant_id)=1),
 Row(zipcode='10012', count(restaurant_id)=1),
 Row(zipcode='11367', count(restaurant_id)=1),
 Row(zipcode='11355', count(restaurant_id)=2),
 Row(zipcode='11004', count(restaurant_id)=1),
 Row(zipcode='10014', count(restaurant_id)=1),
 Row(zipcode='10001', count(restaurant_id)=1),
 Row(zipcode='10003', count(restaurant_id)=4),
 Row(zipcode='10023', count(restaurant_id)=2),
 Row(zipcode='10040', count(restaurant_id)=1),
 Row(zipcode='10022', count(restaurant_id)=2),
 Row(zipcode='11209', count(restaurant_id)=2),
 Row(zipcode='10065', count(restaurant_id)=1),
 Row(zipcode='11372', count(restaurant_id)=3),
 Row(zipcode='11430', count(restaurant_id)=1),
 Row(zipcode='11415', count(restaurant_id)=1),
 Row(zipcode='11432', count(restaurant_id)=2),
 Row(zipcode='10027', count(restaurant_id)=1),
 Row(zipcode='10036', count(restaurant_id)=2),
 Row(zipcode='11374', count(restaurant_id)=1),
 Row(zipcode='10025', count(restaurant_id)=1),
 Row(zipcode='10007', count(restaurant_id)=1),
 Row(zipcode='10019', count(restaurant_id)=1),
 Row(zipcode='11103', count(restaurant_id)=1),
 Row(zipcode='10005', count(restaurant_id)=2),
 Row(zipcode='10017', count(restaurant_id)=1),
 Row(zipcode='10306', count(restaurant_id)=1),
 Row(zipcode='10016', count(restaurant_id)=4)]

In [18]:
# handling array

In [19]:
from pyspark.sql.functions import explode

In [20]:
df_arrayData = restaurants.select('restaurant_id', 'name', explode(restaurants.grades).alias('Grades'))

In [21]:
df2 = df_arrayData.select('restaurant_id', 'name', 'Grades.date', 'Grades.grade', 'Grades.score')

In [22]:
df2.count()

18142

In [32]:

df2.registerTempTable("grade")

In [35]:
spark.sql("select restaurant_id, name, max(score) from grade group by restaurant_id, name").show()

+-------------+--------------------+----------+
|restaurant_id|                name|max(score)|
+-------------+--------------------+----------+
|     40363151|             Olive'S|        13|
|     40363426|         Lexler Deli|        12|
|     40365644|Joe Allen Restaurant|        13|
|     40370519|         Divers Cove|        13|
|     40373889|  Felidia Restaurant|        13|
|     40375972|         Vegas Diner|        13|
|     40390814|        Loui Seafood|        13|
|     40391531|    Tea And Sympathy|        10|
|     40402145|Bali Nusa Indones...|        25|
|     40604740|     T.G.I. Friday'S|        18|
|     40649463|La Boina Roja Ste...|        15|
|     40698823|Union Cafe Restau...|        12|
|     40852397|         Candies Bar|        25|
|     40879245|Grand Hyatt New Y...|        40|
|     40369017|            Palm Too|        12|
|     40383799|        Jackson Hole|        14|
|     40394957|       Tuscany Grill|        19|
|     40397723|        White Castle|        13|
|     40398910|         Joe'S Pizza|        30|
|     40399285|Bangkok Grand Palace|        24|
+-------------+--------------------+----------+
only showing top 20 rows